<section class="customer-testimonials-section">
    <div class="container">
        <div class="customer-testimonials-main">
            <div class="customer-testimonials-head {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {% if section.settings.heading != blank %}                        
                    <h2>
                        {{- section.settings.heading -}}
                    </h2>
                {% endif %}
            </div>
            <div class="customer-testimonials-container {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                <div class="customer-testimonials-flex flex-class">
                    <div class="customer-testimonials-left">
                        <div class="customer-testimonials-images-slider swiper-container">
                            <div class="swiper-wrapper">
                                {% for block in section.blocks %}
                                    {% case block.type %}
                                        {% when 'item' %}
                                            {% if block.settings.comment != blank %} 
                                                <div class="customer-testimonials-image-slide swiper-slide">
                                                    {% render 'image-snippet', image: block.settings.image, lazyload: 'lazy'  %}
                                                </div>
                                            {% endif %}
                                 {% endcase %}
                             {% endfor %}                        
                            </div>
                        </div>
                    </div>
                    <div class="customer-testimonials-right">
                        <div class="testimonial-heading">
                            {% if section.settings.review_heading != blank %}                        
                                <h2>
                                    {{- section.settings.review_heading -}}
                                </h2>
                            {% endif %}
                        </div>
                        <div class="testimonial-content-container">
                            <div class="testimonial-content-slider swiper-container">
                                <div class="swiper-wrapper">
                                    {% for block in section.blocks %}
                                        {% case block.type %}
                                            {% when 'item' %}
                                                {% if block.settings.comment != blank %} 
                                                    <div class="testimonial-content-slide swiper-slide">
                                                        {{ block.settings.comment }}
                                                        <div class="testimonial-info">
                                                            <h6> {{ block.settings.name }}
                                                                {% if block.settings.show_verfied %}
                                                                 - <span> {{ block.settings.verfied_text }}</span>
                                                                {% endif %}
                                                            </h6>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                     {% endcase %}
                                 {% endfor %} 
                                </div>
                                <div class="testimonials-controllers">
                                    <div class="testimonials-slider-arrows">
                                        <div class="swiper-button-prev">
                                            {% render 'slider-prev-arrow' %}
                                        </div>
                                        <div class="testimonials-pagination swiper-pagination"></div>
                                        <div class="swiper-button-next">
                                            {% render 'slider-next-arrow' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonials-thumbnails-container">
                            <div class="testimonials-thumbnails-slider swiper-container">
                                <div class="swiper-wrapper">
                                    {% for block in section.blocks %}
                                        {% case block.type %}
                                            {% when 'item' %}
                                                {% if block.settings.comment != blank %} 
                                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                                        {% render 'image-snippet', image: block.settings.image, lazyload: 'lazy'  %}
                                                    </div>
                                                {% endif %}
                                     {% endcase %}
                                 {% endfor %}                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name" : "Testimonials",
        "settings": [
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Heading",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at porta arcu, id hendrerit est. Maecenas id dignissim dolor. Sed lorem ante,"
            },
            {
                "type": "inline_richtext",
                "id": "review_heading",
                "label": "Review Heading",
                "default": "Hear From Our Customers"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "comment",
                        "label": "Comment",
                        "default": "<p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Name",
                        "default": "Sarah"
                    },
                    {
                        "type": "checkbox",
                        "id": "show_verfied",
                        "label": "Show Verified Text",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "verfied_text",
                        "label": "Verified Text",
                        "default": "verified customer"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Testimonials"
            }
        ]
    }
{% endschema %}